* {
    box-sizing: border-box;
}

.header .container {
    width: 1276px;
    margin: 0 auto;
    padding-top: 24px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.header {
    background: #000000;
}

.header__center {
    display: flex;
    justify-content: space-between;
}

.header__center-left {

    margin-right: 115px;
}

.center__left-nav {
    display: flex;
}

.center__left-list {
    list-style-type: none;
    align-items: center;
}

.center__left-list {
    margin-right: 43px;
}

.center__left-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;

}

.center__left-list:last-child {
    margin-right: 0;
}

.center__right-nav {
    display: flex;
}

.center__right-list {
    list-style-type: none;
    align-items: center;
}


.center__right-link {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;

}

.center__right-list {
    margin-right: 59px;
}

.center__right-list:last-child {
    margin-right: 0;
}

.right__button {
    background: #0059C1;
    border-radius: 12px;
    padding: 11px 33px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */


    color: #FFFFFF;
}

.hero {
    background-color: #000000;

}

.hero .container {
    max-width: 1274px;
    margin: 0 auto;
    padding-bottom: 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.73%, #000000 84.54%), url(./assets/img/fon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.hero-img {
    padding-top: 342px;
    margin: 0 auto;
}

.hero-watch {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-line_basic {
    margin-top: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.hero-line_cursor {
    border-bottom: 1px solid #E3B100;
    width: 100px;
}

.hero-line {
    border-bottom: 1px solid #fff;
    width: 500px;
}

.hero-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    position: relative;

    color: #FFFFFF;
}

.hero-trailer {
    margin-right: 10px;
}

.cards {
    background-color: #000000;
    padding-top: 24px;
    padding-bottom: 81px;
}

.cards .container {
    max-width: 1366px;
    margin: 0 auto;
}

.cards__center {
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
}

.top__title {

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;
}

.cards__center {
    display: flex;
}

.card {
    width: 210px;
    margin-right: 24px;
    height: 300px;
}

.card:last-child {
    margin-right: 0;
}

.card-visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.card-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card-inside {
    padding-left: 20px;
    padding-right: 20px;
    height: 300px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    opacity: 0;
}

.card-inside:hover {
    opacity: 1;
    transition: 0.4s;
}

.star {
    margin-right: 6px;
}

.number {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: #E3B100;
}

.card-year {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    color: rgba(255, 255, 255, 0.5);
}

.season {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    margin-top: 40px;

    color: rgba(255, 255, 255, 0.5);
}

.card-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    white-space: nowrap;
    color: #FFFFFF;
}

.card-subtitle {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;

    color: #E8E8E8;
    margin-bottom: 30px;
}

.card-button {
    background: #0059C1;
    border-radius: 12px;
    width: 170px;
    height: 38px;
    border: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    padding-right: 20px;
    text-align: right;
    color: #FFFFFF;
    position: relative;
}

.card-button::before {
    content: '';
    top: 12px;
    left: 16px;
    width: 12px;
    height: 14px;
    background: url(./assets/img/arrow.svg);
    position: absolute;
}

.sub {
    background-color: #000000;
}

.sub .container {
    max-width: 1290px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.sub__top {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;
    padding-top: 20px;
    margin-bottom: 24px;
}

.sub__center {
    display: flex;
    justify-content: center;
}

.center__card-1 {
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
    border-radius: 12px;
}

.center__card-2 {
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
    border-radius: 12px;
}

.center__card-3 {
    background: linear-gradient(90deg, rgba(0, 89, 193, 0.5) 0%, rgba(13, 0, 123, 0.5) 100%);
    border: 1px solid rgba(0, 89, 193, 0.5);
    border-radius: 12px;
}

.card__title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    color: #FFFFFF;
}

.center__list-item {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;
}

.center__buttons {
    display: flex;
    justify-content: end;
    margin-right: 32px;
}

.button__left {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding: 9px 16px;
    background: #E38B00;
    border-radius: 12px;
    margin-right: 10px;
    color: #FFFFFF;
}

.button__right {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border: 1px solid #E38B00;
    border-radius: 12px;
    background: transparent;
    padding: 9px 44px;
    color: #FFFFFF;
}